main {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  
  display: flex;
  flex-direction: column;
  gap: 50px;

  main div {
    margin-top: auto;
    display: flex;
  }
}

input {
  padding: 10px;
}